#### Task 1: Daily earnings

In [1]:
valandos = 8
valandinis = 12  # €/val.

dienos_uzdarbis = valandos * valandinis

print("Dienos uždarbis:", dienos_uzdarbis, "€")

Dienos uždarbis: 96 €

#### Task 2: Apply a 15% discount

In [2]:
original_price = 120
discount_rate = 0.15  # 15%

discount_amount = original_price * discount_rate
final_price = original_price - discount_amount

print("Original price:", original_price, "EUR")
print("Discount amount:", discount_amount, "EUR")
print("Final price after discount:", final_price, "EUR")

Original price: 120 EUR
Discount amount: 18.0 EUR
Final price after discount: 102.0 EUR

#### Task 3: Monthly salary

In [3]:
hours_per_month = 160
hourly_rate = 12  # EUR per hour

monthly_salary = hours_per_month * hourly_rate

print("Monthly salary:", monthly_salary, "EUR")

Monthly salary: 1920 EUR

#### Task 4: Profit calculation

In [4]:
cost_price = 40
selling_price = 65

profit = selling_price - cost_price

print("Profit:", profit, "EUR")

Profit: 25 EUR

#### Task 5: Price without VAT

In [5]:
price_with_vat = 121
vat_rate = 0.21  # 21%

price_without_vat = price_with_vat / (1 + vat_rate)

print("Price without VAT:", price_without_vat, "EUR")

Price without VAT: 100.0 EUR

#### Task 6: Profit after 1 year (5% interest)

In [6]:
principal = 1000
interest_rate = 0.05  # 5%

profit_after_year = principal * interest_rate
total_after_year = principal + profit_after_year

print("Profit after 1 year:", profit_after_year, "EUR")
print("Total after 1 year:", total_after_year, "EUR")

Profit after 1 year: 50.0 EUR
Total after 1 year: 1050.0 EUR

#### Task 7: Average of grades

In [7]:
grades = [7, 8, 9]

average_grade = sum(grades) / len(grades)

print("Average grade:", average_grade)

Average grade: 8.0

#### Task 8: Unpaid loan percentage

In [8]:
loan_total = 1000
paid_amount = 350

unpaid_amount = loan_total - paid_amount
unpaid_percentage = (unpaid_amount / loan_total) * 100

print("Unpaid amount:", unpaid_amount, "EUR")
print("Unpaid percentage:", unpaid_percentage, "%")

Unpaid amount: 650 EUR
Unpaid percentage: 65.0 %

#### Task 9: Triangle area

In [9]:
base = 6
height = 4

triangle_area = (base * height) / 2

print("Triangle area:", triangle_area)

Triangle area: 12.0

#### Task 10: Total price of two products

In [10]:
price_1 = 3.50
price_2 = 4.20

total_price = price_1 + price_2

print("Total price:", total_price, "EUR")

Total price: 7.7 EUR

#### Task 11: Uppercase word

In [11]:
word = "hello"

print(word.upper())

HELLO

#### Task 12: Lowercase sentence

In [12]:
sentence = "This Is A Test Sentence."

print(sentence.lower())

this is a test sentence.

#### Task 13: Count characters in a name

In [13]:
name = "Arnoldas"

char_count = len(name)

print("Number of characters:", char_count)

Number of characters: 8

#### Task 14: Split sentence and show first word

In [14]:
sentence = "Python is very useful"

words = sentence.split()

print("Words:", words)
print("First word:", words[0])

Words: ['Python', 'is', 'very', 'useful']
First word: Python

#### Task 15: Join two words

In [15]:
word1 = "Hello"
word2 = "World"

full_text = word1 + " " + word2

print(full_text)

Hello World

#### Task 16: Create email address

In [16]:
first_name = "Arnoldas"
last_name = "Basakirskas"

email = first_name.lower() + "." + last_name.lower() + "@gmail.com"

print("Email:", email)

Email: arnoldas.basakirskas@gmail.com

#### Task 17: Check if a word contains "a"

In [17]:
word = "banana"

contains_a = "a" in word

print("Contains 'a':", contains_a)

Contains 'a': True

##### Task 18: Replace "a" with "*"

In [18]:
word = "banana"

new_word = word.replace("a", "*")

print(new_word)

b*n*n*

##### Task 19: Extract year, month, day

In [19]:
date_text = "2025-06-01"

year = date_text[0:4]
month = date_text[5:7]
day = date_text[8:10]

print("Year:", year)
print("Month:", month)
print("Day:", day)

Year: 2025
Month: 06
Day: 01

#### Task 20: First and last character

In [20]:
name = "Arnoldas"

first_char = name[0]
last_char = name[-1]

print("First character:", first_char)
print("Last character:", last_char)

First character: A
Last character: s

#### Task 21: Positive / Negative / Zero

In [22]:
number = -5

if number > 0:
    print("The number is positive")
elif number < 0:
    print("The number is negative")
else:
    print("The number is zero")

The number is negative

#### Task 22: Adult or minor

In [1]:
age = 25

if age >= 18:
    print("The person is an adult")
else:
    print("The person is a minor")

The person is an adult

#### Task 23: Even or odd

In [2]:
number = 7

if number % 2 == 0:
    print("The number is even")
else:
    print("The number is odd")

The number is odd

#### Task 24: Admin greeting

In [3]:
name = "admin"

if name == "admin":
    print("Hello, Administrator!")
else:
    print("Hello,", name)

Hello, Administrator!

#### Task 25: Temperature check

In [4]:
temperature = 18

if temperature > 25:
    print("Hot")
elif 10 <= temperature <= 25:
    print("Normal")
else:
    print("Cold")

Normal