#### 01 dictionary creation

In [4]:
asmuo = {
    "vardas": "Jonas",
    "amzius": 30,
    "miestas": "Vilnius"
}
print(asmuo)

{'vardas': 'Jonas', 'amzius': 30, 'miestas': 'Vilnius'}

#### 02 Dictionary creation, updating a value, and adding a new key-value pair

In [5]:
asmuo["amzius"] = 31
asmuo["el_pastas"] = "jonas@example.com"
print(asmuo)

{'vardas': 'Jonas', 'amzius': 31, 'miestas': 'Vilnius', 'el_pastas': 'jonas@example.com'}

#### 03 Displaying dictionary keys, values, and items

In [6]:
print(asmuo.keys())
print(asmuo.values())
print(asmuo.items())

dict_keys(['vardas', 'amzius', 'miestas', 'el_pastas'])
dict_values(['Jonas', 31, 'Vilnius', 'jonas@example.com'])
dict_items([('vardas', 'Jonas'), ('amzius', 31), ('miestas', 'Vilnius'), ('el_pastas', 'jonas@example.com')])

#### 04 Accessing dictionary keys and values

In [7]:
# We'll learn how to automate this sort of list in the next lecture
list1 = [1,2,3,4,5,6,7,8,9,10]
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [8]:
for num in list1:
    print(num)

1
2
3
4
5
6
7
8
9
10

#### 05 Dictionary inspection

In [9]:
for num in list1:
    if num % 2 == 0:
        print(num)

2
4
6
8
10

#### 06 Display dictionary content (keys/values/items)

In [10]:
for num in list1:
    if num % 2 == 0:
        print(num)
    else:
        print('Odd number')

Odd number
2
Odd number
4
Odd number
6
Odd number
8
Odd number
10

#### 07 Get total of list

In [11]:
# Start sum at zero
list_sum = 0
 
for num in list1:
    list_sum = list_sum + num
 
print(list_sum)

55

#### 08 Loop through a string

In [12]:
for letter in 'This is a string.':
    print(letter)

T
h
i
s

i
s

a

s
t
r
i
n
g
.

In [13]:
d = {'k1':1,'k2':2,'k3':3}

#### 09 Print dictionary keys and values

In [14]:
# Dictionary unpacking
for k,v in d.items():
    print(k)
    print(v)

k1
1
k2
2
k3
3

#### 10 Store KPI values in a dictionary

In [15]:
# KPI pavyzdys: reikšmės pagal pavadinimą
kpi = {
    "revenue": 12500.50,
    "orders": 320,
    "return_rate": 0.035
}
kpi

{'revenue': 12500.5, 'orders': 320, 'return_rate': 0.035}

#### 11 Calculate total sales per region

In [16]:
transactions = [
    {"region": "LT", "amount": 120.0},
    {"region": "LT", "amount": 80.0},
    {"region": "EE", "amount": 55.0},
    {"region": "LV", "amount": 200.0},
    {"region": "LT", "amount": 40.0},
]
 
sales_by_region = {}
 
for t in transactions:
    region = t["region"]
    amount = t["amount"]
    sales_by_region[region] = sales_by_region.get(region, 0) + amount
 
sales_by_region

{'LT': 240.0, 'EE': 55.0, 'LV': 200.0}

#### 12 Define products inventory data

In [17]:
products = {
    "SKU-001": {"name": "Kėdė", "price": 49.99, "stock": 120, "category": "Baldai"},
    "SKU-002": {"name": "Stalas", "price": 149.00, "stock": 35, "category": "Baldai"},
    "SKU-005": {"name": "Lempa", "price": 19.90, "stock": 7, "category": "Apšvietimas"},
}
products

{'SKU-001': {'name': 'Kėdė',
  'price': 49.99,
  'stock': 120,
  'category': 'Baldai'},
 'SKU-002': {'name': 'Stalas',
  'price': 149.0,
  'stock': 35,
  'category': 'Baldai'},
 'SKU-005': {'name': 'Lempa',
  'price': 19.9,
  'stock': 7,
  'category': 'Apšvietimas'}}

#### 13 Retrieve product name and stock

In [18]:
sku = "SKU-002"
product_name = products[sku]["name"]
product_stock = products[sku]["stock"]
product_name, product_stock

('Stalas', 35)

#### 14 Check for low stock products

In [19]:
low_stock_threshold = 10
 
for sku, info in products.items():
    if info["stock"] < low_stock_threshold:
        print("Mažas likutis:", sku, info["name"], "likutis:", info["stock"])

Mažas likutis: SKU-005 Lempa likutis: 7

#### 15 Password verification loop

In [ ]:
slaptazodis = input("prasome sukurti slaptazodi:")
 
inputas = input("suveskite savo slaptazodi, kad prisijungtumet prie paskyros:")
 
bandymai = 0
max_bandymai=3
 
while inputas != slaptazodis:
    bandymai +=1
    if bandymai > max_bandymai:
        print("pasiekei max skaiciu. patikrinkit ar ne robotas:")
        break
    print("nope, netinka, ivesk teisinga")
    inputas = input("suveskite teisinga slaptazodi:")
if inputas == slaptazodis:  
    print("sekmingai prisijungete")