In [1]:
# Create a list with repeats
list1 = [1,1,2,2,3,4,5,6,1,1]

In [2]:
# Yra užsakymo duomenys
order = ("ORD-001", "2024-09-01", 120.50)
 
order

('ORD-001', '2024-09-01', 120.5)

In [3]:
order_id = order[0]
order_date = order[1]
order_amount = order[2]
 
order_id, order_date, order_amount

('ORD-001', '2024-09-01', 120.5)

In [4]:
# Yra prekių sąrašas
products = ("Kėdė", "Stalas", "Lempa", "Spinta", "Lentyna")
 
# Reikia paimti paskutinius tris elementus
item1, item2, item3 = products[-3:]
 
item1, item2, item3

('Lempa', 'Spinta', 'Lentyna')

In [5]:
# Yra klientų ID su pasikartojimais
customer_ids = ["C001", "C002", "C001", "C003", "C002"]
 
unique_customers = set(customer_ids)
unique_customers

{'C001', 'C002', 'C003'}

In [6]:
unique_customers_list = list(unique_customers)
unique_customers_tuple = tuple(unique_customers)
 
unique_customers_list, unique_customers_tuple

(['C001', 'C003', 'C002'], ('C001', 'C003', 'C002'))

In [7]:
campaign_A = {"C001", "C002", "C003"}
campaign_B = {"C002", "C004"}
 
# Klientai, gavę bent vieną kampaniją
campaign_A | campaign_B

{'C001', 'C002', 'C003', 'C004'}

In [8]:
vardas = "Jonas"
amzius = 25
print("Vardas:", vardas)
print("Amžius:", amzius)

Vardas: Jonas
Amžius: 25

In [9]:
vardas = "Jonas"
amzius = 25
print(f"{vardas} yra {amzius} metų amžiaus")

Jonas yra 25 metų amžiaus

In [10]:
print("Sveiki,", end=" ")
print("kaip sekasi?")

Sveiki, kaip sekasi?

In [11]:
vardas = "Jonas"
amzius = 25
 
# f-string
print(f"{vardas} / {amzius} m.")
 
# format()
print("{} / {} m.".format(vardas, amzius))
 
# klasikinis su kableliais
print(vardas, "/", amzius, "m.")

Jonas / 25 m.
Jonas / 25 m.
Jonas / 25 m.

In [12]:
# Pvz.: kliento duomenų struktūra
klientas = ("Jonas", 28, "Vilnius")
vardas, amzius, miestas = klientas
print("Vardas:", vardas)
print("Amžius:", amzius)
print("Miestas:", miestas)

Vardas: Jonas
Amžius: 28
Miestas: Vilnius

In [13]:
# Pvz.: aktyvūs ir registruoti klientai
registruoti = {"Jonas", "Ona", "Petras", "Greta"}
aktyvūs = {"Jonas", "Greta"}
 
# Kas registruoti, bet neaktyvūs?
neaktyvūs = registruoti - aktyvūs
print("Neaktyvūs klientai:", neaktyvūs)

Neaktyvūs klientai: {'Ona', 'Petras'}

In [14]:
# Pvz.: rasti bendrus produktus dviejose rinkose
lt_produktai = {"obuoliai", "bananai", "kriaušės"}
lv_produktai = {"bananai", "kriaušės", "vynuogės"}
 
bendri = lt_produktai & lv_produktai
print("Bendri produktai:", bendri)

Bendri produktai: {'bananai', 'kriaušės'}

In [15]:
# Pvz.: pardavimai pagal (regionas, produktas)
pardavimai = {
    ("Vilnius", "obuoliai"): 150,
    ("Kaunas", "obuoliai"): 200,
    ("Vilnius", "kriaušės"): 180
}
print("Pardavimai Vilniuje (obuoliai):", pardavimai[("Vilnius", "obuoliai")])

Pardavimai Vilniuje (obuoliai): 150

In [16]:
a = {"A", "B", "C"}
b = {"B", "C", "D"}
print(a & b)  # {'B', 'C'}
print(a.intersection(b))

{'C', 'B'}
{'C', 'B'}

In [17]:
klientai = [15, 18, 21, 16]
for amzius in klientai:
    pilnametis = amzius >= 18
    print(f"Amžius: {amzius}, Pilnametis: {pilnametis}")

Amžius: 15, Pilnametis: False
Amžius: 18, Pilnametis: True
Amžius: 21, Pilnametis: True
Amžius: 16, Pilnametis: False

In [18]:
import datetime
 
dabar = datetime.datetime.now()
print("Dabartinė data ir laikas:", dabar)

Dabartinė data ir laikas: 2026-01-22 15:22:53.449464

In [19]:
gimimo_diena = datetime.date(1985, 5, 1)
print("Gimimo data:", gimimo_diena)

Gimimo data: 1985-05-01

In [20]:
data_tekstu = "2023-12-15"
data_obj = datetime.datetime.strptime(data_tekstu, "%Y-%m-%d").date()
print("Konvertuota data:", data_obj)

Konvertuota data: 2023-12-15

In [21]:
metinis_biudzetas = 120000
menesio_biudzetas = metinis_biudzetas / 12
 
for men in range(1, 13):
    data = datetime.date(2023, men, 1)
    print(f"{data.strftime('%B')} – {menesio_biudzetas:.2f} EUR")

January – 10000.00 EUR
February – 10000.00 EUR
March – 10000.00 EUR
April – 10000.00 EUR
May – 10000.00 EUR
June – 10000.00 EUR
July – 10000.00 EUR
August – 10000.00 EUR
September – 10000.00 EUR
October – 10000.00 EUR
November – 10000.00 EUR
December – 10000.00 EUR

In [22]:
diena1 = datetime.date(2023, 6, 11)
diena2 = datetime.date(2023, 6, 15)
 
skirtumas = diena2 - diena1
print("Dienų skirtumas:", skirtumas.days)

Dienų skirtumas: 4

In [23]:
dabar = datetime.datetime.today()
print("Metai-mėnuo-diena:", dabar.strftime("%Y-%m-%d"))
print("Laikas (val:min):", dabar.strftime("%H:%M"))

Metai-mėnuo-diena: 2026-01-22
Laikas (val:min): 15:32

In [25]:
gimimo_data = datetime.date(1984, 4, 28)
siandien = datetime.date.today()
 
amzius = siandien.year - gimimo_data.year
if (siandien.month, siandien.day) < (gimimo_data.month, gimimo_data.day):
    amzius -= 1
 
print("Amžius:", amzius)

Amžius: 41

In [26]:
try:
    x = 10 / 0
except ZeroDivisionError:
    print("Klaida: negalima dalinti iš nulio.")

Klaida: negalima dalinti iš nulio.

In [27]:
try:
    f = open("neegzistuojantis_failas.txt")
except FileNotFoundError:
    print("Klaida: failas nerastas.")
finally:
    print("Programa baigė darbą.")

Klaida: failas nerastas.
Programa baigė darbą.